# Node.js
/frontend/node_modules

# Python
/backend/venv
/backend/__pycache__
*.pyc
backend/src/keys/app-de-carona-firebase-adminsdk-p4bg0-c31ea45a5d.json
backend/src/drivers/firebase_config.py

# Arquivos de build
/frontend/build
/frontend/.env

# Outras pastas a serem ignoradas
.trunk
node_modules


