# Node.js
/frontend/node_modules

# Python
/backend/venv
/backend/__pycache__
*.pyc
/backend/keys/app-de-carona-firebase-adminsdk-p4bg0-36baf17776.json

# Arquivos de build
/frontend/build
/frontend/.env

# Outras pastas a serem ignoradas
.trunk
node_modules


